bankstatementsorter-566a0c45d1f1.json
.vscode/launch.json
__pycache__/CategorySorter.cpython-39.pyc
__pycache__/FileUploader.cpython-39.pyc
__pycache__/GoogleSheetHandler.cpython-39.pyc
solid-choir-446519-h6-33b3d6aecae0.json
__pycache__/helper.cpython-39.pyc
__pycache__/WebGUI.cpython-39.pyc
__pycache__/CategorySorter.cpython-311.pyc
__pycache__/FileUploader.cpython-311.pyc
__pycache__/GoogleSheetHandler.cpython-311.pyc
__pycache__/helper.cpython-311.pyc
tutorial/flaskr/__pycache__/auth.cpython-311.pyc
tutorial/flaskr/__pycache__/__init__.cpython-311.pyc
tutorial/flaskr/__pycache__/blog.cpython-311.pyc
tutorial/flaskr/__pycache__/db.cpython-311.pyc
tutorial/tests/__pycache__/conftest.cpython-311-pytest-8.3.4.pyc
tutorial/tests/__pycache__/test_auth.cpython-311-pytest-8.3.4.pyc
tutorial/tests/__pycache__/test_blog.cpython-311-pytest-8.3.4.pyc
tutorial/tests/__pycache__/test_db.cpython-311-pytest-8.3.4.pyc
tutorial/tests/__pycache__/test_factory.cpython-311-pytest-8.3.4.pyc
tutorial/.coverage
